<form layout="column" layout-align="space-between center" ng-submit="login()">
    <md-input-container>
        <label>Username</label>
        <input required type="text" placeholder="JohnDoe" ng-model="user.username"/>
    </md-input-container>
    <md-input-container>
        <label>Password</label>
        <input required type="password" placeholder="Your password" ng-model="user.password"/>
    </md-input-container>
    <md-button type="submit" value="Submit" class="md-raised">
        Login
        <md-tooltip>
            {{error_message}}
        </md-tooltip>
    </md-button>
</form>
